* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/landing-bg.jpg) no-repeat center center fixed;
}

#login-reg-form {
    margin: 10vh 0vw;
    padding: 5vh 5vw;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#forms-container {
    font-family: 'KoHo', sans-serif;
}

#site-name {
    font-family: 'Patrick Hand', cursive;
}

#line {
    position: absolute;
    height: 100%;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    z-index: 1;
}

#wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
}

#word {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px;
}