* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D8F2E3;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    color: #4D736F;
}

a:hover {
    text-decoration: none;
    color: #D8F2E3;
}

.navbar-brand {
    font-family: 'Patrick Hand', cursive;
}

.container {
    padding-top: 110px;
    font-family: 'KoHo', sans-serif;
}

.nav-item {
    font-family: 'KoHo', sans-serif;
}

.navbar {
    background-color: #4D736F;
}

nav .navbar-nav li a {
    color: black !important;
}

nav .navbar-nav li a:hover {
    color: white !important;
}

#divUserData {
    background-color: white;
}

.post-titles {
    font-family: 'Suez One', serif;
}

.post-bodies {
    font-size: 120%;
}

.post-options:hover, #avatarDiv:hover, label[for="file-input"], #change-theme-btn {
    cursor: pointer;
}

#editProfileButton {
    color: #F28444;
}

#editProfileButton:hover {
    cursor: pointer;
    color: #F2C8A2;
}

.middle {
    transition: 4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    -webkit-transition: .4s ease;
    opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    -webkit-opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

#avatarDiv:hover #profilePic {
    opacity: 0.3;
    -moz-opacity: 0.3;
    -ms-opacity: 0.3;
    -o-opacity: 0.3;
    -webkit-opacity: 0.3;
}

#avatarDiv:hover .middle {
    opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    -webkit-opacity: 1;
}

#image_demo {
    width: 500px;
    margin-top: 30px;
}

#profile-banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.banner-text {
    font-family: 'Suranna', serif;
}